
.sectionbox {
  border: solid 5px maroon;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.special1 {
  background-color: #fdf7ed;
  border: solid 5px orange;
}

.special2 {
  background-color: #fdf7ed;
  border: solid 5px blue;
}

.special3 {
  background-color: #fdf7ed;
  border: solid 5px green;
}
